<!DOCTYPE html>
<html>
<head>
	<title>VigoChat - v1.0</title>
	<link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico"/>
	<script src="js/node_modules/jquery/dist/jquery.js"></script>
	<script src="js/node_modules/jquery-ui-dist/jquery-ui.js"></script>
	<link rel="stylesheet" type="text/css" href="js/node_modules/jquery-ui-dist/jquery-ui.css">
	<script src="js/vigochat.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/vigochat.css">
 	<link rel="stylesheet" type="text/css" href="css/demo.css">
 	<script>
 		$(document).ready(function(){
			$('#vigochat').vigoChat("400px");
		});
 	</script>
</head>
<body>
	<div id="vigochat"></div>
</body>
</html>